.viewPage {
    background: #ccc;
    min-height: 93vh;
}

.info {
    color: #000;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    // align-items: center;
    // justify-content: center;
    // text-align: center;
}

.image {
    display: flex;
    justify-content: center;
    img {
        max-width: 90%;
        max-height: 600px;
    }
}

.cap{
    text-transform: capitalize;
    &::before{
        content: " ";
    }
}
.votes{
    font-size: small;
}