.page {
    background-color: #181515;
    min-height: 93vh;
}

.emailLogin {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: wheat;
    gap: 20px;


    .hide {
        display: none;
    }

    p {
        transition: scale 500ms;
        transition: transform 500ms;
    }

    p:hover {

        display: block;
        color: red;
        transform: scale(1.1);
        cursor: pointer;
    }

    .loader {
        margin: 0.9rem;
        padding: 0.9rem;
        border: 60px solid #00000000;
        // box-shadow: inset 0px 0px 30px rgb(255, 153, 0),
        //     0px 0px 30px 10px rgb(255, 166, 0);
        // border-radius: 50%;
        // border-top: 60px solid rgb(255, 229, 81);
        // 37FF8B
        box-shadow: inset 0px 0px 30px 0px #37FF8B,
            0px 0px 30px 10px #37FF8B;
        border-radius: 50%;
        border-top: 60px solid #02db5c;
        width: 350px;
        height: 350px;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }

    .loader:hover {
        // animation: spin 300ms linear infinite;
        border-top: 60px solid rgb(255, 165, 81);
        box-shadow: inset 0px 0px 30px rgb(255, 72, 0),
            0px 0px 30px 10px rgb(255, 94, 0);
    }
}

.animate {
    animation: wiggle 2s infinite ease-in-out;
}


// Custom Styles Start //
/* From uiverse.io by @satyamchaudharydev */
/* === removing default button style ===*/
.button {
    margin: 0;
    background: transparent;
    padding: 0;
    border: none;
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 230, 215, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    -webkit-text-stroke: 1px var(--animation-color);
    animation: load 1s infinite;
}

.wowC {
    border-radius: 51px;
    background: #b900d1;
    box-shadow: inset -31px -31px 58px #60006d,
        inset 31px 31px 58px #ff00ff;
}

//   Close -- Custom Styles //

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes wiggle {
    0% {
        translate: 0 0;
        transform: scale(1);
    }

    50% {
        translate: 0 20px;
        transform: scale(1.2);
    }

    100% {
        translate: 0 0;
        transform: scale(1);
    }
}

@keyframes load {

    to {
        filter: drop-shadow(0 0 23px var(--animation-color));
        width: 100%;
    }

}

@keyframes neonify {
    0% {
        filter: drop-shadow(0 0 23px var(--animation-color));
        width: 0%;
        // transform: width 0%;
    }

    25% {
        filter: drop-shadow(0 0 23px var(--animation-color));
        width: 25%;
        // transform: width 25%;
    }

    50% {
        filter: drop-shadow(0 0 23px var(--animation-color));
        width: 50%;
        // transform: width 50%;
    }

    75% {
        filter: drop-shadow(0 0 23px var(--animation-color));
        width: 75%;
        // transform: width 75%;
    }

    100% {
        filter: drop-shadow(0 0 23px var(--animation-color));
        width: 100%;
        // transform: width 100%;
    }
}