.bg {
    background-size: cover;
    background-position: center;
    height: 93vh;
    position: relative;
    color: white;
    /* box-shadow: inset 0 0 0 0 rgba(5, 5, 5, 0.3); */
    box-shadow: inset 0 0 0 100vh rgba(27, 27, 27, 0.664);
}

.vertical{
    height: 60vh;
    background: white;
    color: black;
    justify-content: center;
    align-items: center;
}

