.mainHeader {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: row;
    align-items: center;
    height: 7vh;
    padding: 10px;
    // background: #fc9652;
    background: linear-gradient(to right, #fc9652, #fc5692);
    box-shadow: 0 5px 20px -10px #000;
    z-index: 99;
    top: 0;
    position: relative;
    width: 100%;

    .left {
        flex: 1;
    }

    .center {
        text-align: center;
        align-items: center;
        justify-content: center;

        .title {
            font-weight: 700;
            font-size: 30px;
            cursor: pointer;
            text-align: center;
        }

        .titleSm {
            font-weight: 700;
            cursor: pointer;
        }
    }

    .right {
        display: flex;
        flex-direction: row;
        gap: 5px;
        flex: 1;
        justify-content: flex-end;

        button {
            padding: 8px 10px;
            border: none;
            background-color: transparent;
            transition: scale 500ms;
            transition: transform 500ms;
            font-weight: 600;
            // background: linear-gradient(0.90turn, #fc9652,#fff,#fc5692);
            // background: rgba($color: rgb(255, 252, 252), $alpha: 0.6);
            border-radius: 28px;
        }

        .active{
            background: rgba($color: #fff, $alpha: 0.7);
            border-radius: 23px 23px 3px 23px;
            &:hover{
                border-radius: 23px 23px 3px 23px;
                transform: scale(1.1);
            }
        }

        button:hover {
            background: rgba($color: #000, $alpha: 0.6);
            border-radius: 30px 10px 30px 30px;
            color: #fff;
            transform: scale(1.1);
        }
    }
}

.searchPopOver {
    padding: 15px 5px;

    .title {
        margin: 0px 10px;
        font-weight: 700;
    }
}

.searchPopBtn {
    color: rgba(0, 0, 0, 0.418) !important;
    :hover {
        color: black;
    }
}

.notifyPopBtn {
    color: rgba(0, 0, 0, 0.418) !important;
    border-radius: 50% !important;
    :hover {
        color: #fff;
    }
}

.navPop {
    display: flex;
    flex-direction: column;

    button {
        border: none;
        outline: none;
        padding: 7px 17px;
        background-color: white;
        color: #000;
        font-weight: 500;
        transition: scale 500ms;
        transition: transform 500ms;
    }

    button:hover {
        background-color: #000;
        color: rgb(255, 255, 255);
        transform: scale(0.8);
        border-radius: 15px;
    }

    button:focus {
        background-color: #000;
        color: white;
    }
}

.notifications {
    display: flex;
    flex-direction: column;
}