.addItemBg {
    background-size: cover;
    background-position: center;
    // height: 93vh;
    position: relative;
    color: white;
    /* box-shadow: inset 0 0 0 0 rgba(5, 5, 5, 0.3); */
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.664);
    object-fit: cover;
    min-height: 93vh;
    max-width: 100vw;
    width: 100%;
}

.addData {
    align-items: center;
    justify-content: center;
    text-align: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    button {
        margin-top: 5px;
        // font-family: 'Public Sans';
        padding: 8px 16px;
        border-radius: 8px;
        font-weight: bolder;
        border: none;
        outline: none;
        max-width: 100px;
        background-color: rgba($color: #000000, $alpha: 0.4);
        color: white;
        // border: 3px solid rgb(255, 255, 255);
    }

    button:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.6);
        color: rgb(0, 0, 0);
    }

    button:disabled {
        background-color: darkgrey;
        color: #000000;
    }

    .loading {
        content: "";
        border-radius: 20px;
        width: 100%;
        max-width: 400px;
        background: transparent;

        .text {
            margin: 8px;
        }
    }

    .loader {
        content: "";
        animation: load 10s linear alternate infinite;
        height: 11px;
        border-radius: 20px;
        background: linear-gradient(to right, transparent, #00ff6a);
    }

}

.err {
    color: #ff8800;
    transition: transform 900ms;
    cursor: pointer;

    &:hover {
        color: rgb(255, 55, 55);
    }

}

@keyframes load {
    0% {
        width: 0%;
    }

    25% {
        width: 25%;
        background: linear-gradient(to right, transparent, #ff8800);
    }

    50% {
        width: 50%;
        background: linear-gradient(to right, transparent, #00aeff);
    }

    75% {
        width: 75%;
        background: linear-gradient(to right, transparent, #eeff00);
    }

    100% {
        width: 100%;
        background: linear-gradient(to right, transparent, #00ff6a);
    }

}

.imgPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

    img {
        object-fit: cover;
        max-width: 200px;
        max-height: 300px;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        border-radius: 10px;
        margin-top: -100px;
    }
}

@media (max-width: 768px) {
    .imgPreview {
        img {
            margin-top: 20px ;
            max-width: 90vw;
            width: 100%;
            height: 100%;
            max-height: 80vh;
        }
    }

    .suggestionsContainer {
        margin-top: 20px;
    }
}

.suggestionsContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    max-height: 60vh;
    position: relative;

    &::-webkit-scrollbar {
        display: none;
    }

    .resBtns{
        width: 100%;
        margin: 14px 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        button{
            border: none;
            font-weight: 500;
            background: transparent;
            color: rgba($color: #fff, $alpha: 0.4) !important;
            color: #000;
            &:hover{
                color: rgba($color: #fff, $alpha: 0.8) !important;
            }
        }
    }

    .suggestionItem {
        transition: transform 600ms;
        border-radius: 2px 20px 5px 20px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 150px;
        height: 110px;
        background-size: cover;
        background-position: center;
        position: relative;
        box-shadow: inset 0 0 0 90px rgba(0, 0, 0, 0.664);

        &:hover {
            transform: scale(1.1);
            color: #000000;
            cursor: pointer;
            box-shadow: inset 0 0 0 90px rgba(255, 255, 255, 0.664);
        }

        .icon {
            position: absolute;
            bottom: 5px;
            right: 5px;
        }

        .icon2 {
            position: absolute;
            bottom: 5px;
            left: 10px;
        }
    }

}

.verifyLink {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: red;
    max-width: 550px;
    font-weight: 500;

    .imgVerifyLink {
        font-weight: 600;
        color: #00ff6a;
        text-decoration: none;
        max-width: 500px;

        &:hover {
            color: #eeff00;
        }
    }
}

.select {

    select {
        font-weight: 500;
        outline: none;
        appearance: none;
        background-color: rgba($color: #ffffff, $alpha: 0.6);
        width: 100%;
        min-width: 300px;
        max-width: 30ch;
        border-bottom: 4px solid rgb(0, 231, 154);
        border-radius: 6px 6px 0 0;
        padding: 10px;
        font-size: 1.25rem;
        cursor: pointer;
        padding: 16px;

        &::-ms-expand {
            display: none;
        }
    }

    option {
        font-weight: 500;
        padding: 16px;
        gap: 10px;
    }
}

.confimBtn {
    border: none;
    // border-bottom: 2px solid green;
    outline: none;
    border-radius: 10px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: #00ff00;
    font-weight: 500;

    &:hover {
        background-color: rgba($color: #000000, $alpha: 1.0);
        color: #ffffff;
    }
}

.formBG {
    background-size: cover !important;
    border-radius: 20px !important;
    background-attachment: local !important;
    background-position: center !important;
    /* box-shadow: inset 0 0 0 0 rgba(5, 5, 5, 0.3) !important; */
    box-shadow: inset 0 0 0 320px rgba(0, 0, 0, 0.664) !important;
    object-fit: cover !important;
    background-repeat: no-repeat !important;
}